{% extends "base.html" %}
{% load static %}

{% block body %}

    <!-- Start blog Area -->
    <section class="blog-area section-gap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 pb-30 header-text">
            <h1>{{note}}</h1>
            <p>
              {{note.created|date:"j M"}} | {{note.tags}} | {{note.user.username}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="single-blog col-lg-10 col-md-10">

            <img class="f-img img-fluid mx-auto post_banner" src="{{note.img.url}}" alt="">
            <p>
              {{note.content|safe}}
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- end blog Area -->
{% endblock %}
