{% extends "base.html" %}
{% load static %}
{% block body %}



    <section class="blog-area section-gap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 pb-30 header-text">
            <h1>Our Recent Notes</h1>
            <p>
              Create , Update , And Share Your Notes With Otheres
            </p>
          </div>
        </div>
        <div class="row">
          {% for note in all_notes  %}
          <div class="single-blog col-lg-4 col-md-4">

            {% if note.img %}
              <img class="f-img img-fluid mx-auto" src="{{note.img.url}}" alt="">

            {% else %}
            <img class="f-img img-fluid mx-auto" src=" {% static 'home-static/img/no_image.jpg'%}" alt="">


            {% endif %}

            <h4>
              <a href="{%  url 'notes:note_detail' note.slug %}">{{note.title}}</a>
            </h4>
            <p>
              {{note.content|safe|truncatewords:'10'}}

            </p>
            <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
              <div>
                <img class="img-fluid" src="{% static 'home-static/img/user.png' %}" alt="">
                <a href="#"><span>{{note.user.username}}</span></a>
              </div>
              <div class="meta">
                 {{note.created|date:"j M"}}
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}
